go 1.20

use (
	./go/acronym
	./go/airport-robot
	./go/all-your-base
	./go/anagram
	./go/animal-magic
	./go/annalyns-infiltration
	./go/armstrong-numbers
	./go/bird-watcher
	./go/blackjack
	./go/bob
	./go/booking-up-for-beauty
	./go/card-tricks
	./go/cars-assemble
	./go/census
	./go/chessboard
	./go/clock
	./go/collatz-conjecture
	./go/difference-of-squares
	./go/election-day
	./go/elons-toys
	./go/etl
	./go/expenses
	./go/gigasecond
	./go/grains
	./go/gross-store
	./go/hamming
	./go/hello-world
	./go/interest-is-interesting
	./go/isogram
	./go/largest-series-product
	./go/lasagna-master
	./go/leap
	./go/logs-logs-logs
	./go/luhn
	./go/matching-brackets
	./go/meetup
	./go/meteorology
	./go/need-for-speed
	./go/nth-prime
	./go/nucleotide-count
	./go/pangram
	./go/parallel-letter-frequency
	./go/parsing-log-files
	./go/party-robot
	./go/phone-number
	./go/protein-translation
	./go/proverb
	./go/raindrops
	./go/resistor-color
	./go/rna-transcription
	./go/robot-name
	./go/roman-numerals
	./go/scrabble-score
	./go/series
	./go/sieve
	./go/sorting-room
	./go/space-age
	./go/strain
	./go/sublist
	./go/sum-of-multiples
	./go/the-farm
	./go/tournament
	./go/triangle
	./go/two-fer
	./go/vehicle-purchase
	./go/weather-forecast
	./go/welcome-to-tech-palace
	./go/word-count
	./go/wordy
)
